<%= form_for(@documentation) do |f| %>
  <% if @documentation.errors.any? %>
    <div id="error_explanation">
      <% @documentation.errors.full_messages.each do |msg| %>
        <div class="alert alert-box">
          <%= msg %>
          <a href="" class="close">&times;</a>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="row field">
    <div class="twelve columns">
      <%= f.label :title %><br />
    </div>
  </div>
  <div class="row field">
    <div class="twelve columns">
      <%= f.text_field :title %><br />
    </div>
  </div>

  <div class="row field">
    <div class="twelve columns">
      <%= f.label :content %><br />
    </div>
  </div>
  <div class="row field">
    <div class="twelve columns">
      <%= f.text_area :content, :cols => 10, :rows => 10 %><br />
    </div>
  </div>

  <div class="row actions">
    <div class="twelve columns">
      <%= f.submit  :class => "small radius button"%>
    </div>
  </div>
<% end %>



