
    <div class="row">
      <%= form_for(@documentation) do |f| %>
        <% if @documentation.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@documentation.errors.count, "error") %> prohibited this documentation from being saved:</h2>

            <ul>
              <% @documentation.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <ul>
          <li>
            <div class="field">
              <%= f.label :title %><br />
              <%= f.text_field :title %>
            </div>
          </li>
          <li>
            <div class="field">
              <%= f.label :content %><br />
              <%= f.text_area :content, :cols => 10, :rows => 10  %>
            </div>
          </li>
          <li>
            <div class="field">
              <%= f.label :permalink %><br />
              <%= f.text_field :permalink %>
            </div>
          </li>
          </li>
            <div class="actions">
              <%= f.submit %>
            </div>
          </li>
        </ul>
      <% end %>
      <hr>
    </div>



