<p id="notice"><%= notice %></p>

<div id="header" class="row">
	<h1>ZipReel Documentation</h1>
	<h4 class="subheader">Everything you need to know</h4>
</div>

<div class="row">
	<div class="three columns panel">
		<ul class="side-nav">
			<% @documents.each do |document| %>
				<% if document == @documentation %>
					<li><%= link_to(document.title, documentation_permalink(document)) %></li>
				<% else %>
					<li class="active"><%= link_to(document.title, documentation_permalink(document)) %></li>
				<% end %>
			<% end %>
		</ul>
	</div>

	<div class="nine columns">
		<h2><%= @documentation.title %></h2>

		<p>
		<%= @documentation.content %>
		</p>


		<%= link_to 'Edit', edit_documentation_path(@documentation) %> |
		<%= link_to 'Back', documentations_path %>
	</div>
</div>
