





<div class="row">
  <div class="twelve columns">
    <h2>Listing Jobs</h2>
    <hr />
  </div>
</div>

<script id="jobDetailsTemplate" type="text/template">
  {{% pullPercent = status.pull.bytes/video.size * 100 }}
  {{% transcodePercent = status.transcode.bytes/video.size * 100 }}
  <td> <input id="checkbox-{{=id}}" name="selected_jobs[]" type="checkbox" value="{{=id}}" > </td>
  <td><%= link_to '{{=id}}', 'jobs/{{=id}}' %></td>
  <td class="progressBar" >
    <span id="job-data" data-job-id="{{= id }}"></span>
    <div class="radius pull-progress-bar progress twelve" >
      <span style="width: 0%" id="{{= id }}-meter" class="meter"></span> 
    </div>
    <div class="radius success transcode-progress-bar progress twelve" >
      <span style="width: 0%" id="{{= id }}-meter" class="meter"></span> 
    </div>

  </td>
  <td>{{= readablizeBytes(output_size) }}</td>
  <td> <a href="{{= output_url }}"> {{= output_url}} </a> </td>
  <td>
      {{% if(finished_at != null) { }}
        {{='Job Complete'}}
      {{% } else {  }} 
        <%= link_to 'Delete Job', 'jobs/{{=id}}', method: :delete, data: { confirm: 'Are you sure?' }, :style => "color: #c60f13"  %>
      {{% } }}
  </td>
</script>



<div class="row">
  <div class="twelve columns">
    <%= form_tag destroy_multiple_jobs_path,  :method => :delete, data: {confirm: 'Are you sure you want to delete the selected jobs?' } do %>
      <table id="jobs-table" class="twelve columns">
        <thead>
          <tr>
            <td><input type="checkbox" id="select_all"/> </td> 
            <td>Job ID</td>
            <td>Status</td>
            <td>Output Size</td>
            <td>Output URL</td>
            <td>*</td>
          </tr>
        </thead>
      </table>
      <%= submit_tag "Delete Selected", :class => "small radius alert button"%>
    <% end %>
    <hr />
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <%= link_to 'Upload New Video', new_video_path, :class => "small radius button" %>
  </div>
</div>


<div class="row progress-bar">
</div>


</div>
