





<div class="row">
  <div class="twelve columns">
    <h2>Listing Jobs</h2>
    <hr />
  </div>
</div>

<script id="progressBarTemplate" type="text/template">
    <span id="job-data" data-job-id="{{= id }}"></span>
    <span style="width: {{= status.transcode.bytes/video.size * 100 }}%;" class="meter"></span> 
</script>


<script id="jobDetailsTemplate" type="text/template">
  {{% pullPercent = status.pull.bytes/video.size * 100 }}
  {{% transcodePercent = status.transcode.bytes/video.size * 100 }}
  <td>{{= video.filename }}</td>
  <td class="progressBar" >
    <span id="job-data" data-job-id="{{= id }}"></span>
    <div class="radius success progress twelve" >
      <span style="width:{{% if(pullPercent > 100) { }} {{=100}}{{% } else { }} {{=pullPercent}}{{% } }}%;" class="meter"></span> 
    </div>
    <div class="radius progress twelve" >
     <span style="width:{{% if(transcodePercent > 100) { }} {{=100}}{{% } else { }} {{=transcodePercent}}{{% } }}%;" class="meter"></span> 
    </div>

  </td>
  <td>{{= width }}</td>
  <td>{{= height }}</td>
  <td><%= link_to 'Show', 'jobs/{{=id}}' %></td>
  <td><%= link_to 'Destroy', 'jobs/{{=id}}', method: :delete, data: { confirm: 'Are you sure?' } %></td>

</script>



<div class="row">
  <table id="jobs-table" class="twelve ">
    <thead>
      <tr>
        <td>Job ID</td>
        <td>Status</td>
        <td>Width</td>
        <td>Height</td>
        <td>*</td>
        <td>*</td>
      </tr>
    </thead>
  </table>
</div>

<div class="row progress-bar">
</div>

<hr />

<div class="row">

  <table>
    <tr>
      <th>Video Filename</th>
      <th>Width</th>
      <th>Height</th>
      <th></th>
    </tr>

    <% @jobs.each do |job| %>
      <tr>
      <% @video = Video.find(job.video_id) %>
      <td><%=  @video.filename %></td>
      <td><%= job.width %></td>
      <td><%= job.height %></td>
      <td><%= link_to 'Show', job %></td>
      <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>

  <% end %>
  </table>

  <br />

  <%= link_to 'New Video', new_video_path %>

</div>
