<!-- header and nav -->
<div class="row">
  <div class="seven columns">
    <h1>Job Description</h1>
  </div>
    <div id="destroy-button" class="five columns centered">
    </div>
</div>

</div>

<!-- end header and nav -->


<div class="row">
  <noscript>
    <div class="alert-box">
      Please enable Javascript for this application to function properly.
    </div>
  </noscript>
</div>

<!-- Header and Nav -->

<div class="content">
  <div id="job-status">
    <div class="row">
      <div class="twelve columns">
        <div class="progress-bars">
          <div class="row progress-bar pull-progress-bar">
            <div class="twelve columns">
              <h4>Pull Progress <small class="speed">Speed: <%= @job.finished_at? ? @job.final_pull_speed : 0 %> Mb/s</small></h4>
              <div class="nice radius progress twelve">
                <span style="width: <%= @job.finished_at? ? '100%' : '0' %>;" class="meter"></span>
              </div>
            </div>
          </div>
          <div class="row progress-bar transcode-progress-bar">
            <div class="twelve columns">
              <h4>Transcode Progress <small class="speed">Speed: <%= @job.finished_at? ? @job.final_transcode_speed : 0 %> Mb/s</small></h4>
              <div class="nice radius success progress twelve">
                <span style="width: <%= @job.finished_at? ? '100%' : '0' %>;" class="meter"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% if @job.finished_at %>
      <div class="row completed-job">
        <div class="twelve columns">
          <h3>Job Complete</h3>
          <div><a href="<%= @job.output_url %>">Link to transcoded video</a></div>
        </div>
      </div>
    <% end %>
  </div>

  <script id="destroy-job-template" type="text/template">
    <h4> There is an error. Please delete this job and try again later. </h4>
    <a href="/jobs/{{=id}}" class="large radius alert button" data-method="delete" rel="nofollow" style="margin-top: 15px">Delete This Job</a>
  </script>

  <script id="finished-job-template" type="text/template">
    <div class="row">
      <div class="twelve columns">
        <h3>Job Complete</h3>
        <div><a href="{{= output_url }}">Link to transcoded video</a></div>
      </div>
    </div>
    <div
    <div class="row">
      <div class="four columns">
        <h4 class="subheader">Compression Ratio<h4>
        <canvas id="sizeChart" width="300" height="300"></canvas>
        <div class="right size-legend">
          <fieldset>
            <legend>Legend</legend>
            <div class="original">Original Size: {{= readablizeBytes(video.size) }}</div>
            <div class="output">Output Size: {{= readablizeBytes(output_size) }}</div>
          </fieldset>
        </div>

      </div>
      <div class="four columns">
        <h4 class="subheader">Pull & Transcode Speed<h4>
        <canvas id="speedChart" width="300" height="300"></canvas>
        <div class="right speed-legend">
          <fieldset>
            <legend>Legend</legend>
            <div class="pullSpeed">Pull: {{= final_pull_speed }} Mb/s</div>
            <div class="transcodeSpeed">Transcode: {{= final_transcode_speed }} Mb/s</div>
          </fieldset>
        </div>
      </div>
      <div class="four columns">
        <h4 class="subheader">Time Breakdown<h4>
        <canvas id="milestonesChart" width="300" height="300"></canvas>
        <div class="right milestone-legend">
          <fieldset>
            <legend>Legend</legend>
            <div class="pulling">Pulling:
              {{= moment(progression.pull_finish_time).from(moment(progression.pull_start_time), true) }}
            </div>
            <div class="chunking">Chunking:
              {{= moment(progression.chunker_finish_time).from(moment(progression.chunker_pull_start_time), true) }}
            </div>
            <div class="transcoding">Transcoding:
              {{= moment(progression.tcoder_finish_time).from(moment(progression.tcoder_start_time), true) }}
            </div>
            <div class="merging">Merging:
              {{= moment(progression.merger_finish_time).from(moment(progression.merger_start_time), true) }}
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </script>

  <script id="progression-template" type="text/template">
<td>{{% if(progression.pull_start_time) { }} {{= moment(progression.pull_start_time).format('MM/DD/YYYY h:mm:ss a') }} {{% } }}</td>
    <td>{{% if(progression.pull_finish_time) { }} {{= moment(progression.pull_finish_time).format('MM/DD/YYYY h:mm:ss a')  }} {{% } }}</td>
    <td>{{% if(progression.chunker_start_time) { }} {{= moment(progression.chunker_start_time).format('MM/DD/YYYY h:mm:ss a') }} {{% } }}</td>
    <td>{{% if(progression.chunker_finish_time) { }} {{= moment(progression.chunker_finish_time).format('MM/DD/YYYY h:mm:ss a') }} {{% } }}</td>
    <td>{{% if(progression.tcoder_start_time) { }} {{= moment(progression.tcoder_start_time).format('MM/DD/YYYY h:mm:ss a') }} {{% } }}</td>
    <td>{{% if(progression.tcoder_finish_time) { }} {{= moment(progression.tcoder_finish_time).format('MM/DD/YYYY h:mm:ss a') }} {{% } }}</td>
    <td>{{% if(progression.merger_start_time) { }} {{= moment(progression.merger_start_time).format('MM/DD/YYYY h:mm:ss a') }} {{% } }}</td>
    <td>{{% if(progression.merger_finish_time) { }} {{= moment(progression.merger_finish_time).format('MM/DD/YYYY h:mm:ss a') }} {{% } }}</td>
  </script>

  <% @video = Video.find(@job.video_id) %>

  <% if @job.finished_at %>
    <div class="row">
      <div class="four columns">
        <h4 class="subheader">Compression Ratio<h4>
        <canvas id="sizeChart" width="300" height="300"
          data-original-size="<%= @video.size %>"
          data-output-size="<%= @job.output_size %>">
        </canvas>
        <div class="right size-legend">
          <fieldset>
            <legend>Legend</legend>
            <div class="original">Original Size: <%= number_to_human_size(@video.size)  %></div>
            <div class="output">Output Size: <%= number_to_human_size(@job.output_size)  %></div>
          </fieldset>
        </div>

      </div>
      <div class="four columns">
        <h4 class="subheader">Pull & Transcode Speed<h4>
        <canvas id="speedChart" width="300" height="300"
          data-pull-speed="<%= @job.final_pull_speed %>"
          data-transcode-speed="<%= @job.final_transcode_speed %>">
        </canvas>
        <div class="right speed-legend">
          <fieldset>
            <legend>Legend</legend>
            <div class="pullSpeed">Pull: <%= number_with_precision(@job.final_pull_speed, :precision => 2) %> Mb/s</div>
            <div class="transcodeSpeed">Transcode: <%= number_with_precision(@job.final_transcode_speed, :precision => 2) %> Mb/s</div>
          </fieldset>
        </div>
      </div>
      <div class="four columns">
        <h4 class="subheader">Time Breakdown<h4>
        <canvas id="milestonesChart" width="300" height="300"
            data-pull-start="<%= @job.progression.pull_start_time.localtime.to_s(:date_format) %>"
            data-pull-finish="<%= @job.progression.pull_finish_time.localtime.to_s(:date_format) %>"
            data-chunker-start="<%= @job.progression.chunker_start_time.localtime.to_s(:date_format) %>"
            data-chunker-finish="<%= @job.progression.chunker_finish_time.localtime.to_s(:date_format) %>"
            data-tcoder-start="<%= @job.progression.tcoder_start_time.localtime.to_s(:date_format) %>"
            data-tcoder-finish="<%= @job.progression.tcoder_finish_time.localtime.to_s(:date_format) %>"
            data-merger-start="<%= @job.progression.merger_start_time.localtime.to_s(:date_format) %>"
            data-merger-finish="<%= @job.progression.merger_finish_time.localtime.to_s(:date_format) %>" >
        </canvas>
        <div class="right milestone-legend">
          <fieldset>
            <legend>Legend</legend>
            <div class="pulling">Pulling: <%= number_with_precision(@job.progression.pull_finish_time - @job.progression.pull_start_time, :precision => 2) %> seconds</div>
            <div class="chunking">Chunking: <%= number_with_precision(@job.progression.chunker_finish_time - @job.progression.chunker_start_time, :precision => 2) %> seconds</div>
            <div class="transcoding">Transcoding: <%= number_with_precision(@job.progression.tcoder_finish_time - @job.progression.tcoder_start_time, :precision => 2) %> seconds</div>
            <div class="merging">Merging: <%= number_with_precision(@job.progression.merger_finish_time - @job.progression.merger_start_time, :precision => 2) %> seconds</div>
          </fieldset>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="twelve columns"><a id="detail-toggle" href="#">Show Details</a></div>
  </div>
  <div class ="row">
    <div id="details" style="display: none;" class="twelve columns">
      <h4 class="subheader">Progress Milestones</h4>
      <table id="progression-table" class="twelve ">
        <thead>
          <tr>
            <th>Pull Start Time</th>
            <th>Pull Finish Time</th>
            <th>Chunk Start Time</th>
            <th>Chunk Finish Time</th>
            <th>Transcode Start Time</th>
            <th>Transcode Finish Time</th>
            <th>Merger Start Time</th>
            <th>Merger Finish Time</th>
          </tr>
         </thead>
         <tbody>
         <tr id="progress-row">
           <td><%= @job.progression.pull_start_time? ? @job.progression.pull_start_time.localtime.to_s(:date_format) : '' %></td>
           <td><%= @job.progression.pull_finish_time? ? @job.progression.pull_finish_time.localtime.to_s(:date_format) : '' %></td>
           <td><%= @job.progression.chunker_start_time? ? @job.progression.chunker_start_time.localtime.to_s(:date_format) : '' %></td>
           <td><%= @job.progression.chunker_finish_time? ? @job.progression.chunker_finish_time.localtime.to_s(:date_format) : '' %></td>
           <td><%= @job.progression.tcoder_start_time? ? @job.progression.tcoder_start_time.localtime.to_s(:date_format) : '' %></td>
           <td><%= @job.progression.tcoder_finish_time? ? @job.progression.tcoder_finish_time.localtime.to_s(:date_format) : '' %></td>
           <td><%= @job.progression.merger_start_time? ? @job.progression.merger_start_time.localtime.to_s(:date_format) : '' %></td>
           <td><%= @job.progression.merger_finish_time? ? @job.progression.merger_finish_time.localtime.to_s(:date_format) : '' %></td>
         </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <ul class="block-grid two-up mobile-one-up">
        <li>
          <div class="six columns">
            <h4 class="subheader">Video Specifications</h4>
          </div>

          <table id="video-table" class="twelve columns">
            <tbody id="video-table-body">
            <tr>
              <td>Video Nickname :</td>
              <td><%= @video.video_name %></td>
            </tr>
            <tr>
              <td>Width :</td>
              <td><%= @video.width || '-' %></td>
            </tr>
            <tr>
              <td>Height :</td>
              <td><%= @video.height || '-' %></td>
            </tr>
            <tr>
              <td>Size :</td>
              <td><%= number_to_human_size(@video.size) %></td>
            </tr>
            <tr>
              <td>Duration :</td>
              <td><%= @video.duration %> seconds </td>
            </tr>
            <tr>
              <td>Location :</td>
              <td><a href="<%= @video.location %>"> <%= @video.filename %> </a></td>
            </tr>
            <tr>
              <td>Video Bitrate :</td>
              <td><%= @video.video_bitrate || '-' %> Kbps</td>
            </tr>
            <tr>
              <td>Video Codec :</td>
              <td><%= @video.video_codec || '-' %></td>
            </tr>
             <tr>
              <td>Frames/sec :</td>
              <td><%= @video.frames_per_sec || '-' %></td>
            </tr>
            <tr>
              <td>Created At :</td>
              <td><%= @video.created_at? ? @video.created_at.localtime.to_s(:date_format) : '-' %></td>
            </tr>
            </tbody>
          </table>
        </li>

        <li>
          <div class="six columns">
            <h4 class="subheader">Job Specifications</h4>
          </div>
          <table id="job-table" class="twelve columns">
            <tbody id="job-table-body">
            <tr>
              <td>Width :</td>
              <td><%= @job.width %></td>
            </tr>
            <tr>
              <td>Height :</td>
              <td><%= @job.height %></td>
            </tr>
            <tr>
              <td>H264 Profile : </td>
              <td><%= @job.h264_profile  %></td>
            </tr>
            <tr>
              <td>H264 Quality : </td>
              <td><%= @job.h264_quality %></td>
            </tr>
            <tr>
              <td>Frame Distance : </td>
              <td><%= @job.frame_distance %></td>
            </tr>
            <tr>
              <td>GOP Length : </td>
              <td><%= @job.gop_length %></td>
            </tr>

            <tr>
              <td>Audio Codec :</td>
              <td><%= @job.audio_codec %></td>
            </tr>
            <tr>
              <td>Audio Bitrate :</td>
              <td><%= @job.audio_bitrate %></td>
            </tr>
            <tr>
              <td>Audio Volume :</td>
              <td><%= @job.audio_volume %></td>
            </tr>
            <tr>
              <td>Video Mux Rate :</td>
              <td><%= @job.video_mux_rate || '-' %> Kbps </td>
            </tr>
            <tr>
              <td>Output Size :</td>
              <td><%= number_to_human_size(@job.output_size) || '-' %></td>
            </tr>
            <tr>
              <td>Created At :</td>
              <td><%= @job.created_at? ? @job.created_at.localtime.to_s(:date_format) : '-' %></td>
            </tr>
            <tr>
              <td>Finished At :</td>
              <td><%= @job.finished_at? ? @job.finished_at.localtime.to_s(:date_format) : '-' %></td>
            </tr>
            </tbody>
          </table>
        </li>
      </ul>
    </div>
  </div>
</div>

<script id="video-template" type="text/template">
  <tr>
    <td>Video Nickname :</td>
    <td>{{= video.video_name }}</td>
  </tr>
  <tr>
    <td>Width :</td>
    <td>{{= video.width || '-'}}</td>
  </tr>
  <tr>
    <td>Height :</td>
    <td>{{= video.height || '-'}}</td>
  </tr>
  <tr>
    <td>Size :</td>
    <td> {{= readablizeBytes(video.size) || '-'}}</td>
  </tr>
  <tr>
    <td>Duration :</td>
    <td>{{= video.duration || 0}} seconds</td>
  </tr>
  <tr>
    <td>Location :</td>
    <td><a href="{{= video.location }}"> {{= video.filename }} </a> </td>
  </tr>
  <tr>
    <td>Video Bitrate :</td>
    <td>{{= video.video_bitrate || '-'}} Kbps</td>
  </tr>
  <tr>
    <td>Video Codec :</td>
    <td>{{= video.video_codec || '-'}} </td>
  </tr>
  <tr>
    <td>Frames/sec :</td>
    <td>{{= video.frames_per_sec || '-'}} </td>
  </tr>
  <tr>
    <td>Created At :</td>
    <td>{{% if(created_at) { }} {{= moment(created_at).format('MM/DD/YYYY h:mm:ss a')  }} {{% } }}</td>
  </tr>
</script>

<script id="job-template" type="text/template">
  <tr>
    <td>Width :</td>
    <td>{{= width }}</td>
  </tr>
  <tr>
    <td>Height :</td>
    <td>{{= height }}</td>
  </tr>
  <tr>
    <td>H264 Profile : </td>
    <td>{{= h264_profile }}</td>
  </tr>
  <tr>
    <td>H264 Quality : </td>
    <td>{{= h264_quality }}</td>
  </tr>
  <tr>
    <td>Frame Distance : </td>
    <td>{{= frame_distance }}</td>
  </tr>
  <tr>
    <td>GOP Length : </td>
    <td>{{= gop_length }}</td>
  </tr>

  <tr>
    <td>Audio Codec :</td>
    <td>{{= audio_codec }}</td>
  </tr>
  <tr>
    <td>Audio Bitrate :</td>
    <td>{{= audio_bitrate }}</td>
  </tr>
  <tr>
    <td>Audio Volume :</td>
    <td>{{= audio_volume }}</td>
  </tr>
  <tr>
    <td>Video Mux Rate :</td>
    <td>{{= video_mux_rate }} Kbps</td>
  </tr>
  <tr>
    <td>Output Size :</td>
    <td>{{= readablizeBytes(output_size) }}</td>
  </tr>
  <tr>
    <td>Created At :</td>
    <td>{{% if(created_at) { }} {{=  moment(created_at).format('MM/DD/YYYY h:mm:ss a') }} {{% } }}</td>
  </tr>
  <tr>
    <td>Finished At :</td>
    <td>{{% if(finished_at) { }} {{=  moment(finished_at).format('MM/DD/YYYY h:mm:ss a') }} {{% } }}</td>
  </tr>
</script>
