<div class="row">
  <div class="twelve columns">
    <h2>All My Videos</h2>
    <hr />
  </div>
</div>


<div class="row">
  <div class="twelve columns">
    <table>
      <tr>
        <th>Preview</th>
        <th>Filename</th>
        <th>Size</th>
        <th>Created At</th>
        <th></th>
      </tr>

    <% @videos.each do |video| %>
      <tr>
        <td><%= image_tag("rails.png") %> </td>
        <td><%= link_to video.filename, video %></td>
        <td><%= video.size %></td>
        <td><%= video.created_at %></td>
        <td><%= link_to image_tag("trash.png"), video, method: :delete, data: { confirm: 'Are you sureyou want to destroy this video? All jobs associated with this video will be deleted as well.' } %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>

<div class="row">
  <div class="twelve columns">
    <%= link_to 'Upload New Video', new_video_path, :class => "small radius button" %>
  </div>
<div>


</div>
