<div class="row">
  <div class="twelve columns">
    <h2>Listing Videos</h2>
    <hr />
  </div>
</div>

<script id="videoDetailsTemplate" type="text/template">
  <div class="title">
    <div class="row">
      <div class="one columns">
        <input id="checkbox-{{=id}}" name="selected_videos[]" type="checkbox" value="{{=id}}">
      </div>
      <div class="three columns">
        <%= link_to '{{= video_name }}', 'videos/{{= id }}' %>
      </div>
      <div class="three columns">
        {{= readablizeBytes(size) }}
      </div>
      <div class="three columns">
        {{= moment(created_at).format('MM/DD/YYYY h:mm:ss a') }}
      </div>
      <div class="two columns">
        <%= link_to image_tag("trash.png"), 'videos/{{=id}}', method: :delete, data: { confirm: 'Are you sure you want to destroy this video? All jobs associated with this video will be deleted as well.' } %>
      </div>
    </div>
  </div>

  <div class="content">
    <h6>All Jobs for {{=video_name}} : </h6>
    <ul class="block-grid three-up mobile-five-up">
      {{% _.each(jobs, function(i) { }}
        <li> <%= link_to "Job {{=i.id}}" , "jobs/{{=i.id}}" %></li>
      {{% }); }}

    </ul>
  </div>

</script>

<div>
  <div class="row">
    <div class="twelve columns">
      <% if @videos.empty? %>
        <h3> There is no video for this account. </h3>
      <% else %>
        <table class="twelve columns">
          <thead>
            <tr>
              <td><input type="checkbox" id="select_all"> </td> 
              <td>Video Name</td>
              <td>Video Size</td>
              <td>Created At</td>
              <td>Delete</td>
            </tr>
          </thead>
        </table>
      <% end %>
    </div>
  </div>
  <div class="row">
    <% if !@videos.empty? %>
      <%= form_tag destroy_multiple_videos_path,  :method => :delete, data: {confirm: 'Are you sure you want to delete the selected videos?' } do %>
        <div id="videos-table" class="twelve columns">
        </div>
        <div class="twelve columns">
          <%= submit_tag "Delete Selected", :class => "small radius alert button"%>
          <hr />
        </div>
      <% end %>
    <% end %>
  </div>

</div>

<div class="row">
  <div class="twelve columns">
    <%= link_to 'Upload New Video', new_video_path, :class => "small radius button" %>
  </div>
</div>




