
  <!-- Main Page Content and Sidebar -->

  <div class="row">

    <!-- Contact Details -->
    <div class="nine columns">

      <h3>Upload Video</h3>
      <p>Time to upload your video to us. After that, <b>we'll take care of the rest. </b></p>

      <dl class="contained tabs">
        <dd class="active"><a href="#manualForm">Manual Upload</a></dd>
        <dd><a href="#fileForm">Configuration File Upload</a></dd>
      </dl>

      <ul class="tabs-content contained">
        <li id="manualFormTab" class="active">
          <%= form_for(@video, :multipart => true) do |f| %>
            <% if @video.errors.any? %>
              <div id="error_explanation">
                <% @video.errors.full_messages.each do |msg| %>
                  <div class="alert alert-box">
                    <%= msg %>
                    <a href="" class="close">&times;</a>
                  </div>
                <% end %>
              </div>
            <% end %>
            <% if ! @job.nil? and @job.errors.any? %>
              <div id="error_explanation">
                <% @job.errors.full_messages.each do |msg| %>
                  <div class="alert alert-box">
                    <%= msg %>
                    <a href="" class="close">&times;</a>
                  </div>
                <% end %>
              </div>
            <% end %>

            <!-- video name -->
            <div class="row collapse">
              <div class="three columns"><%= label_tag(:video_name, "Video Name") %></div>
              <div class="three columns"><%= text_field_tag(:video_name) %> </div>
              <div class="six columns"></div>
            </div>



            <!-- output mux rate -->
            <div class="row collapse">
              <div class="three columns"><%= label_tag(:mux_rate, "Output Mux Rate") %></div>
              <div class="three columns"><%= number_field_tag(:mux_rate, 500, :min => 500, :max => 25000) %> </div>
              <div class="six columns"></div>
            </div>



            <!-- output resolution -->
            <div class="row collapse">
              <div class="three columns"><%= label_tag(:output_resolution, "Output Resolution") %></div>
              <div class="three columns">
                <%= select_tag(:output_resolution, options_for_select([
                                                                      ['HD (1920×1080)', "1920x1080"], 
                                                                      ['SD (1280x720)', "1280x720"],
                                                                      ['NTSC (720x480)', "720x480"],
                                                                      ['NTSC (704x480)', "704x480"],
                                                                      ['PAL (720x576)', "720x576"],
                                                                      ['PAL (704x576)', "704x576"],
                                                                      ['VGA (640x480)', "640x480"]])) %> </div>
              <div class="six columns"> </div>
            </div>



          <!-- H264 Profile -->
           <div class="row collapse">
              <div class="three columns"><%= label_tag(:h264_profile, "H264 Profile") %></div>
              <div class="three columns">
                <%= select_tag(:h264_profile, options_for_select([
                                                                 ['BASELINE (66)', "baseline"], 
                                                                 ['MAIN (77)', "main"],
                                                                 ['HIGH (100)', "high"]])) %> </div>
              <div class="six columns"> </div>
            </div>

           <!-- H264 Quality -->
           <div class="row collapse">
              <div class="three columns"><%= label_tag(:h264_quality, "H264 Quality") %></div>
              <div class="three columns">
                <%= select_tag(:h264_quality, options_for_select([
                                                                 ['17', "17"]])) %> </div>
              <div class="six columns"> </div>
            </div>

            <!-- Audio Codec -->
            <div class="row collapse">
              <div class="three columns"><%= label_tag(:audio_codec, "Audio Codec") %></div>
              <div class="three columns">
                <%= select_tag(:audio_codec, options_for_select([
                                                                ['PASSTHROUGH (DEFAULT)', "passthrough"], 
                                                                ['AACLC', "aaclc"]])) %> </div>
              <div class="six columns"> </div>
            </div>

            <!-- Audio Bitrate -->
            <div class="row collapse">
              <div class="three columns"><%= label_tag(:audio_bitrate, "Audio Bitrate") %></div>
              <div class="four columns">
                <%= select_tag(:audio_bitrate, options_for_select([
                                                                ['24 kbps MPEG4 HE-AAC v2', '24'],
                                                                ['32 kbps MPEG4 HE-AAC v2', '32'],
                                                                ['40 kbps MPEG4 HE-AAC v2', '40'],
                                                                ['64 kbps MPEG2 AAC-LC', '64'],
                                                                ['96 kbps MPEG2 AAC-LC', '96'],
                                                                ['128 kbps MPEG2 AAC-LC', '128'],
                                                                ['256 kbps MPEG2 AAC-LC', '256']])) %> </div>
              <div class="five columns"> </div>
            </div>

            <!-- audio volume -->
            <div class="row collapse">
              <div class="three columns"><%= label_tag(:audio_volume, "Audio Volume") %></div>
              <div class="three columns"><%= number_field_tag(:audio_volume, 100, :min => 100, :max => 500) %> </div>
              <div class="six columns"></div>
            </div>



            <!-- Video file -->
             <div class="row collapse">
              <div class="three columns"><%= label_tag(:video_file, "Local Video") %></div>
              <div class="three columns"><%= file_field_tag 'video_file' %> </div>
              <div class="six columns"> </div>
            </div>
            
            <!-- Video file URL -->
             <div class="row collapse">
              <div class="three columns"><%= label_tag(:video_location, "Video URL") %></div>
              <div class="six columns"><%= text_field_tag(:video_location) %> </div>
              <div class="three columns"> </div>
            </div>


            <div class="row collapse">
              <div class="three columns"> <button type="submit" class="radius button">Submit</button> </div>
            </div>

          <% end %>
        </li>

        <li id="fileFormTab">
          <%= form_tag('videos', :multipart => true) do %>
            <div class="row collapse">
              <div class="three columns"><%= label_tag(:q, "Configuration File") %></div>
              <div class="three columns"><%= file_field_tag 'conf_file' %> </div>
              <div class="six columns"> </div>
            </div>

            <div class="row collapse">
              <div class="three columns"><%= label_tag(:q, "Video") %></div>
              <div class="three columns"><%= file_field_tag 'video_file' %> </div>
              <div class="six columns"> </div>
            </div>

           <div class="row collapse">
              <div class="three columns"> <button type="submit" class="radius button">Submit</button> </div>
            </div>

          <% end %>
 
        </li>
      </ul>

    </div>

    <!-- End Contact Details -->


    <!-- Sidebar -->

    <div class="three columns">

      <h5>Title</h5>

      <p>
        <a href="" data-reveal-id="mapModal"><img src="http://placehold.it/400x280" /></a><br />
      </p>

      <p>
        What to put here?!!!
      </p>

    </div>

    <!-- End Sidebar -->
  </div>

  <!-- End Main Content and Sidebar -->


 
