
  <!-- Main Page Content and Sidebar -->

  <div class="row">

    <!-- Contact Details -->
    <div class="twelve columns">

      <h3>Upload Video</h3>
      <p>Time to upload your video to us. After that, <b>we'll take care of the rest. </b></p>

      <dl class="contained tabs">
        <dd class="active"><a href="#manualForm">Manual Upload</a></dd>
        <dd><a href="#fileForm">Configuration File Upload</a></dd>
      </dl>

      <ul class="tabs-content contained">
        <li id="manualFormTab" class="active">
          <%= form_for(@video, :multipart => true) do |f| %>
            <% if @video.errors.any? %>
              <div id="error_explanation">
                <% @video.errors.full_messages.each do |msg| %>
                  <div class="alert alert-box">
                    <%= msg %>
                    <a href="" class="close">&times;</a>
                  </div>
                <% end %>
              </div>
            <% end %>
            <% if ! @job.nil? and @job.errors.any? %>
              <div id="error_explanation">
                <% @job.errors.full_messages.each do |msg| %>
                  <div class="alert alert-box">
                    <%= msg %>
                    <a href="" class="close">&times;</a>
                  </div>
                <% end %>
              </div>
            <% end %>

            <!-- video name -->
            <div class="row collapse">
              <div class="three columns"><%= label_tag(:video_name, "Video Nickname") %></div>
              <div class="three columns"><%= text_field_tag(:video_name) %> </div>
              <div class="six columns"></div>
            </div>



            <!-- output mux rate -->
            <div class="row collapse">
              <div class="three columns"><%= label_tag(:output_mux_rate, "Output Mux Rate") %></div>
              <div class="three columns"><%= number_field_tag(:output_mux_rate, 500, :min => 1, :max => 25000) %> </div>
              <div class="six columns"></div>
            </div>

            <!-- output resolution width -->
            <div class="row collapse">
              <div class="three columns"><%= label_tag(:output_width, "Output Resolution Width") %></div>
              <div class="three columns"><%= number_field_tag(:output_width, 1920, :min => 1) %> </div>
              <div class="six columns"></div>
            </div>

           <!-- output resolution height -->
            <div class="row collapse">
              <div class="three columns"><%= label_tag(:output_height, "Output Resolution Height") %></div>
              <div class="three columns"><%= number_field_tag(:output_height, 1080, :min => 1) %> </div>
              <div class="six columns"></div>
            </div>

           <!-- frame distance -->
            <div class="row collapse">
              <div class="three columns"><%= label_tag(:output_frame_distance, "Frame Distance") %></div>
              <div class="three columns"><%= number_field_tag(:output_frame_distance, 3, :min => 1) %> </div>
              <div class="six columns"></div>
            </div>

            <!-- GOP length -->
            <div class="row collapse">
              <div class="three columns"><%= label_tag(:output_gop_length, "GOP Length") %></div>
              <div class="three columns"><%= number_field_tag(:output_gop_length, 60, :min => 1) %> </div>
              <div class="six columns"></div>
            </div>


          <!-- H264 Profile -->
           <div class="row collapse">
              <div class="three columns"><%= label_tag(:output_h264_profile, "H264 Profile") %></div>
              <div class="three columns">
                <%= select_tag(:output_h264_profile, options_for_select([
                                                                 ['BASELINE (66)', "baseline"], 
                                                                 ['MAIN (77)', "main"],
                                                                 ['HIGH (100)', "high"]])) %> </div>
              <div class="six columns"> </div>
            </div>

           <!-- H264 Quality -->
           <div class="row collapse">
              <div class="three columns"><%= label_tag(:output_h264_quality, "H264 Quality") %></div>
              <div class="three columns">
                <%= select_tag(:output_h264_quality, options_for_select([
                                                                 ['17', "17"]])) %> </div>
              <div class="six columns"> </div>
            </div>

            <!-- Audio Codec -->
            <div class="row collapse">
              <div class="three columns"><%= label_tag(:output_audio_codec, "Audio Codec") %></div>
              <div class="three columns">
                <%= select_tag(:output_audio_codec, options_for_select([
                                                                ['PASSTHROUGH (DEFAULT)', "passthrough"], 
                                                                ['AACLC', "aaclc"]])) %> </div>
              <div class="six columns"> </div>
            </div>

            <!-- Audio Bitrate -->
            <div class="row collapse">
              <div class="three columns"><%= label_tag(:output_audio_bitrate, "Audio Bitrate") %></div>
              <div class="four columns">
                <%= select_tag(:output_audio_bitrate, options_for_select([
                                                                ['24 kbps MPEG4 HE-AAC v2', '24'],
                                                                ['32 kbps MPEG4 HE-AAC v2', '32'],
                                                                ['40 kbps MPEG4 HE-AAC v2', '40'],
                                                                ['64 kbps MPEG2 AAC-LC', '64'],
                                                                ['96 kbps MPEG2 AAC-LC', '96'],
                                                                ['128 kbps MPEG2 AAC-LC', '128'],
                                                                ['256 kbps MPEG2 AAC-LC', '256']])) %> </div>
              <div class="five columns"> </div>
            </div>

            <!-- audio volume -->
            <div class="row collapse">
              <div class="three columns"><%= label_tag(:output_audio_volume, "Audio Volume") %></div>
              <div class="three columns"><%= number_field_tag(:output_audio_volume, 100, :min => 100, :max => 500) %> </div>
              <div class="six columns"></div>
            </div>



            <!-- Video file -->
             <div class="row collapse">
              <div class="three columns"><%= label_tag(:video_file, "Local Video") %></div>
              <div class="three columns"><%= f.file_field :video_file %> </div>
              <div class="six columns"> </div>
            </div>
            
            <div class="row collapse">
              <div class="three columns"></div>
              <div class="three columns">  <b> OR </b> </div>
              <div class="six columns"> </div>
            </div>

            <!-- Video file URL -->
             <div class="row collapse">
              <div class="three columns"><%= label_tag(:video_location, "Video URL") %></div>
              <div class="six columns"><%= text_field_tag(:video_location) %> </div>
              <div class="three columns"> </div>
            </div>


            <div class="row collapse">
              <div class="three columns"> <button type="submit" class="radius button">Submit</button> </div>
            </div>

          <% end %>
        </li>

        <li id="fileFormTab">
          <%= form_tag('videos', :multipart => true) do %>
            <div class="row collapse">
              <div class="three columns"><%= label_tag(:q, "Configuration File") %></div>
              <div class="three columns"><%= file_field_tag 'conf_file' %> </div>
              <div class="six columns"> </div>
            </div>

            <div class="row collapse">
              <div class="three columns"><%= label_tag(:q, "Video") %></div>
              <div class="three columns"><%= file_field_tag 'video_file' %> </div>
              <div class="six columns"> </div>
            </div>

           <div class="row collapse">
              <div class="three columns"> <button type="submit" class="radius button">Submit</button> </div>
            </div>

          <% end %>
 
        </li>
      </ul>

    </div>

    <!-- End Contact Details -->


  </div>

  <!-- End Main Content and Sidebar -->



