  <!-- header and nav -->

  <div class="row">
    <div class="seven columns">
      <h1><%= @video.filename %></h1>
    </div>
  </div>

  <!-- end header and nav -->

  <div class="row">

    <!-- main content section -->
    <!-- this has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
    <div class="nine columns">

      <h3> <small> <%= @video.filename %> </small></h3>
      <p> Size: <%= @video.size %> </p>
      <p> Duration: <%= @video.duration %> </p>
      <p> Frame Distance: <%= @video.frame_distance %> </p>
      <p> GOP Length: <%= @video.gop_length %> </p>
      <p> Created At: <%= @video.created_at %> </p>

    </div>



  </div>


 
